<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Show programming langauges</display-name>
    <description>Main goal: create a table that outputs the progrmaming languages that I love</description>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>WEB-INF/include/header.jsp</include-prelude>
            <include-coda>/include/footer.jsp</include-coda>
        </jsp-property-group>
    </jsp-config>

    <context-param>
        <description>This is to send stuff about the proyect</description>
        <param-name>estanoesmiputapaginaweb</param-name>
        <param-value>estonoesmiputocorreo@gmail.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>showLanguage</servlet-name>
        <servlet-class>org.list.programming.languages</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>showLanguages</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/thowable.jsp</location>
    </error-page>

</web-app>